<!-- /* NO CASO DE QQR MUDANÇA NO CÓDIGO, COMENTE O CÓDIGO ANTIGO */ -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Flyer </title>
    <!-- ESTILOS -->
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/styles/mobile_index.css">
    <!-- GOOGLE ICONS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
</head>
<body> 
    <!-- BARRA SUPERIOR DEFAULT -->

    <div id="header">
        <img class="logo" src="/images/flyer_icon.png" alt="logo">
        <button id="btn-map">
            <span class="material-icons md">map</span>
            <label for="btn-map">Mapa</label>
        </button>
        <button id="btn-list">
            <span class="material-icons md">view_list</span>
            <label for="btn-list">Lista</label>
        </button>
        <button id="btn-close" style="display: none;">
            <span class="material-icons md">arrow_back</span>
            <label for="btn-close">Voltar</label>
        </button>
        <button id="btn-show">
            <span class="material-icons md">search</span>
            <label for="btn-show">Filtros</label>
        </button>
    </div>
    
    <!-- FILTROS DE PESQUISA -->

    <div id="filters-menu">
        <ul>
            <li>
                <div class="filters">
                    <span class="material-icons">local_dining</span>
                    Gastronomia <span class="material-icons">keyboard_arrow_right</span>
                </div>
                <ul class="sub-filters">
                    <li>Bares<span class="material-icons">sports_bar</span></li>
                    <li>Restaurantes<span class="material-icons">restaurant</span></li>
                    <li>Lanchonetes<span class="material-icons">fastfood</span></li>
                    <li>Cafés/Padarias<span class="material-icons">local_cafe</span></li>
                    <li>Confeitarias<span class="material-icons">cake</span></li>
                    <li>Bombonieres<span class="material-icons">local_pizza</span></li>
                    <li>Adegas<span class="material-icons">local_bar</span></li>
                </ul>
            </li>
            <li>
                <div class="filters">
                    <span class="material-icons">engineering</span>
                    Serviços<span class="material-icons">keyboard_arrow_right</span>
                </div>
                <ul class="sub-filters">
                    <li>Gerais<span class="material-icons">build</span></li>
                    <li>Elétricos<span class="material-icons">electrical_services</span></li>
                    <li>Eletrônicos<span class="material-icons">phonelink</span></li>
                    <li>Mecânicos<span class="material-icons">directions_car</span></li>
                    <li>Marcenaria<span class="material-icons">carpenter</span></li>
                    <li>Serralheria<span class="material-icons">circle</span></li>
                </ul>
            </li>
            <li>
                <div class="filters">
                    <span class="material-icons">local_grocery_store</span>
                    Mercados<span class="material-icons">keyboard_arrow_right</span>
                </div>
                <ul class="sub-filters">
                    <li>Locais<span class="material-icons">gps_not_fixed</span></li>
                    <li>Açougues<span class="material-icons">business_center</span></li>
                    <li>Hortifruti<span class="material-icons">local_florist</span></li>
                    <li>Pet-Shop<span class="material-icons">pets</span></li>
                    <li>Atacado<span class="material-icons">business</span></li>
                    <li>Conveniência<span class="material-icons">local_convenience_store</span></li>
                </ul>
            </li>
            <li>
                <div class="filters">
                    <span class="material-icons">checkroom</span>
                    Vestuário<span class="material-icons">keyboard_arrow_right</span>
                </div>
                <ul class="sub-filters">
                    <li>Casuais<span class="material-icons">shopping_bag</span></li>
                    <li>Formais<span class="material-icons">local_mall</span></li>
                    <li>Infantil<span class="material-icons">face</span></li>
                    <li>Aluguel<span class="material-icons">monetization_on</span></li>
                    <li>Fantasias<span class="material-icons">star_outline</span></li>
                    <li>Cama/Mesa/Banho<span class="material-icons">weekend</span></li>
                </ul>
            </li>
            <li>
                <div class="filters">
                    <span class="material-icons">self_improvement</span>
                    Saúde/Cuidados<span class="material-icons">keyboard_arrow_right</span>
                </div>
                <ul class="sub-filters">
                    <li>Farmácias<span class="material-icons">local_pharmacy</span></li>
                    <li>Perfumarias<span class="material-icons">filter_vintage</span></li>
                    <li>Corte/Cabelo<span class="material-icons">content_cut</span></li>
                    <li>Academias<span class="material-icons">fitness_center</span></li>
                    <li>Spa's<span class="material-icons">spa</span></li>
                    <li>Consultórios<span class="material-icons">medical_services</span></li>
                </ul>
            </li>
            <li>
                <div class="filters">
                    <span class="material-icons">local_library</span>
                    Cultura/Lazer<span class="material-icons">keyboard_arrow_right</span>
                </div>
                <ul class="sub-filters">
                    <li>Teatro<span class="material-icons">account_balance</span></li>
                    <li>Cinemas<span class="material-icons">movie_filter</span></li>
                    <li>Exposições<span class="material-icons">storefront</span></li>
                    <li>Parques<span class="material-icons">nature_people</span></li>
                    <li>Clubes<span class="material-icons">connect_without_contact</span></li>
                    <li>Eventos<span class="material-icons">local_activity</span></li>
                </ul>
            </li>
            <li>
                <div class="filters">
                    <span class="material-icons">handyman</span>
                    Utilidades<span class="material-icons">keyboard_arrow_right</span>
                </div>
                <ul class="sub-filters">
                    <li>Utensílios<span class="material-icons">shopping_basket</span></li>
                    <li>Chaveiros<span class="material-icons">vpn_key</span></li>
                    <li>Descartáveis<span class="material-icons">loop</span></li>
                    <li>Papelarias<span class="material-icons">description</span></li>
                    <li>Costura<span class="material-icons">gesture</span></li>
                    <li>Ferragens<span class="material-icons">build_circle</span></li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- PAGINA DE NAVEGAÇÃO -->

    <div id="navigation">
        <div id="flyer_map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.28621813525!2d-46.499327789502594!3d-23.55816177871359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce67154fea77fb%3A0x2d2efeef6ff965bf!2sR.%20Douro%20Litoral%20-%20Cidade%20Lider%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2003582-180!5e0!3m2!1spt-BR!2sbr!4v1687468114080!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div id="list">
            <ul>
                <li>lista</li>
            </ul>
        </div>
    </div>

    <!-- OPÇÕES MENU INFERIOR -->

    <div id="footer">
        <button id="btn-ID">
            <span class="material-icons md">person</span>
            <label for="btn-ID">Perfil</label>
        </button>
        <button id="btn-promo">
            <span class="material-icons md">price_change</span>
            <label for="btn-promo">Promo</label>
        </button>
        <button id="btn-fav">
            <span class="material-icons md">star</span>
            <label for="btn-fav">VIP</label>
        </button>
        <button id="btn-config">
            <span class="material-icons md">settings</span>
            <label for="btn-config">Config</label>
        </button>
    </div>
</body>
</html>

    <!-- MEU SCRIPT -->
<script src="/scripts/mobile_index.js"></script>