<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Flyer</title>
    <link rel="stylesheet" href="/styles/page_landing.css">
</head>
<body>
    <main>
        <!-- TOP CONTAINER -->
        <div class="upper_container">
            <img src="/images/flyer-icon.png" alt="logo">
            <div>
                <h2>BEM VINDO AO FLYER! </h2>
                <p>
                    <br>Anuncie ou ajude os comércios locais <br>e conheça os serviços à sua volta.
                    <br><br>Entre ou faça seu cadastro e comece a navegar.
                </p>
            </div>
        </div>
        <!-- MIDDLE CONTAINER -->
        <div class="landing_container">
            <div class="propaganda">
                <img src="" alt="">              
            </div>
            <div class="sign_container">
                <a href="/views/sign_up_page.html">Cadastro</a>
                <a href="/views/sign_in_page.html">Entrar</a>
            </div>
        <!-- BOTTOM CONTAINER -->
        </div>
        <div class="footer">
            <a href="#">Termos de Uso</a>
            <a href="#">Sobre</a>
            <a href="#">Ajuda</a>
            <a href="#">Contato</a>
        </div>
    </main>
    
</body>
</html>