<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Code</title>
    <link rel="stylesheet" href="/styles/sign_page.css">
</head>
<body>
    <div class="container">
        <img src="/images/flyer_icon.svg" alt="logo">
        <strong>Verificação:</strong>
        <input type="text" placeholder="Verification Code " >
        <a class="a_btn" href="/views/sign_in_page.html"><strong>Verificar</strong></a> 
    </div>
    
</body>
</html>