/* LISTA LOCAL SELECIONADO ABAIXO DO MAPA */
.navigation {
    width: 100vw;
    height: 100vh;
    padding-top: 10vh;
    display: flex;
}

#main-map {
    width: 60vw;
    height: 100vh;
    display: none;
}
#list {
    width: 40vw;
    height: 100vh;
    display: none;
}