* {
    border: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#html,
#body {
    width: 100vw;
    height: 100vh;
}

/* HTML ELEMENTS */
img {
    width: 60px;
    height: 60px;
}

label {
    font: smaller;
    border: 0px;
}

ul {
    list-style: none;
    padding-left: 7vw;
    padding-right: 7vw;
}

button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    color: whitesmoke;
    border-radius: 50%;
    display: center;
}

/* HEADER */

#header {
    width: 100vw;
    height: 8.5vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background:  rgb( 0, 13, 171);
}

/* FILTROS */

#filters-menu {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 8.5vh;
    width: 100vw;
    height: 100vh;
    border-top: 2px solid white;
    color: silver;
    background:  rgb( 0, 13, 171);
}

#filters-menu ul li .filters {
    line-height: 7vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid;
}

#filters-menu ul .sub-filters {
    display: none;
    list-style: none;
}

#filters-menu ul ul li{
    line-height: 6vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid;
}

.filters:hover,
.sub-filters li:hover {
    color: whitesmoke;
    font-weight: bold;
}

/* PAGINA DE NAVEGAÇÃO */

#navigation {
    display: center;
    width: 100vw;
    height: 91.5vh;
    overflow: auto;
}

#flyer_map iframe {
    width: 100vw;
    height: 91.5vh;
    overflow: auto;
}

#list {
    width: 100%;
    overflow: auto;
    display: none;
}

/* OPÇÕES MENU INFERIOR */

#footer {
    font: smaller;
    width: 100vw;
    height: 8.5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background:  rgb( 0, 13, 171);
}